{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"node": true
			}
		}],
		"@babel/preset-flow"
	],
	"plugins": ["@babel/plugin-proposal-optional-chaining", "@babel/plugin-proposal-nullish-coalescing-operator"],
	"env": {
		"test": {
			"plugins": ["rewire"]
		},
		"debug": {
			"sourceMaps": "inline",
			"retainLines": true
		}
	}
}
